In [1]:
import pandas as pd 
import numpy as np

In [2]:
students = "./raw_data/students_complete.csv"
schools = "./raw_data/schools_complete.csv"
students_df = pd.read_csv(students)
schools_df = pd.read_csv(schools)

In [3]:
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [10]:
schools_df.head()

   index School ID                  name      type  size   budget
0      7         7    Bailey High School  District  4976  3124928
1      6         6   Cabrera High School   Charter  1858  1081356
2      1         1  Figueroa High School  District  2949  1884411
3     13        13      Ford High School  District  2739  1763916
4      4         4   Griffin High School   Charter  1468   917500

In [4]:
totalSchools = schools_df['name'].count()
totalStudents = students_df['name'].count()
totalBudget = schools_df['budget'].sum()
avgMathScore = students_df['math_score'].mean()
avgReadingScore = students_df['reading_score'].mean()

In [11]:
#Identify count of passing reading and math scores then calculate percent passing
passMath_df = students_df.loc[students_df['math_score'] > 69,['math_score']]
passMathCount = passMath_df['math_score'].count()

passReading_df = students_df.loc[students_df['reading_score'] > 69,['reading_score']]
passReadingCount = passReading_df['reading_score'].count()

passMath = (passMathCount/totalStudents) 
passReading = (passReadingCount/totalStudents)

overallPass = ((passMath + passReading)/2)